<li class="stock">
    <a href="#/product/63/edit/stock/">Акции<span class="hint"></span>
        <span class="s-product-edit-tab-status"></span></a>
</li>
<script>

    function loadstock() {
        var url = '?plugin=stock';
        $.get(url, function(result) {
            if($("#s-product-edit-forms .s-product-form.stock")) {
                $("#s-product-edit-forms .s-product-form.stock").html(result);
            } else {
                $("#s-product-save").append('<div class="s-product-form stock">' + result + '</div>');
            }
            
        });
    }

    $.products.dispatch = function(hash) {
        if (hash === undefined) {
            hash = window.location.hash;
        }
        hash = hash.replace(/(^[^#]*#\/*|\/$)/g, '');
        /* fix syntax highlight */
        $.products.hash = hash;
        try {
            if (hash) {
                hash = hash.split('/');


                if (hash[0]) {

                    if (hash[3] == 'stock') {
                        loadstock();
                        return;
                    }

                    var actionName = "";
                    var attrMarker = hash.length;
                    for (var i = 0; i < hash.length; i++) {
                        var h = hash[i];
                        if (i < 2) {
                            if (i === 0) {
                                actionName = h;
                            } else if (actionName == 'product' || actionName == 'tag' || actionName == 'search' || actionName == 'plugins'
                                    || actionName == 'pages' || actionName == 'stocks') {
                                attrMarker = i;
                                break;
                            } else if (parseInt(h, 10) != h && h.indexOf('=') == -1) {
                                actionName += h.substr(0, 1).toUpperCase() + h.substr(1);
                            } else {
                                attrMarker = i;
                                break;
                            }
                        } else {
                            attrMarker = i;
                            break;
                        }
                    }
                    var attr = hash.slice(attrMarker);
                    $.products.preExecute(actionName, attr);
                    if (typeof ($.products[actionName + 'Action']) == 'function') {
                        $.shop.trace('$.products.dispatch', [actionName + 'Action', attr]);
                        $.products[actionName + 'Action'].apply($.products, attr);
                    } else {
                        $.shop.error('Invalid action name:', actionName + 'Action');
                    }
                } else {
                    $.products.preExecute();
                    $.products.defaultAction();
                }
            } else {
                $.products.preExecute();
                $.products.defaultAction();
            }
        } catch (e) {
            $.shop.error(e.message, e);
        }
    }



</script>