<script type="text/javascript">
    var CountdownImageFolder = "{$wa_app_static_url}plugins/stock/img/countdown/";
</script>
<script src="{$wa_app_static_url}plugins/stock/js/countdown.js" type="text/javascript"></script>

<style>
    .stock_name{
        font-weight: bold;
        color: #ff0000;
    }
</style>
<div class="stock_name">{$stock.name}</div>
<div class="stock_description">{$stock.description}</div>

<script type="application/javascript">
    var myCountdown1 = new Countdown({
    time: {$time},
    width:200, 
    height:60,  
    rangeHi:"day",
    style:"flip"

    });
</script>