{if $stock_products}
{literal}
<style type="text/css">
    .stockproducts ul{padding: 0px;}
    .stockproducts_title{text-align: center;font-weight: bold;margin: 10px 0px;}
    .stockproducts ul li{list-style: none;margin-bottom: 20px;}
    .stockproducts_img{text-align: center;}
    .stockproducts_name{text-align: center;}
    .product-price{text-align: center;}
    .stockproducts_link{text-align: center;}
    .stock_title{font-weight: bold; color:#ff0000; text-align: center}
    .countdown_block > div{margin: 0 auto !important;}
    .last_time{color:#ccc;font-size: 10px; text-align: center}
</style>
{/literal}

<script type="text/javascript">
    var CountdownImageFolder = "{$wa_app_static_url}plugins/stock/img/countdown/";
    if (typeof (Countdown) == 'undefined') {
        document.write('<scr' + 'ipt src="{$wa_app_static_url}plugins/stock/js/countdown.js" type="text/javascript"></sc' + 'ript>');
    }
</script>
<div class="stockproducts">
    <div class="stockproducts_title">Акции</div>
    <ul>
        {foreach from=$stock_products item=product}
        <li>
            <div class="stockproducts_img">
                <a href="{$wa->shop->productUrl($product)}">
                    {$wa->shop->productImgHtml($product, '100x100', ['itemprop' => 'image', 'alt' => $product.name])}  
                </a>
            </div>
            <div class="stockproducts_name">
                <a href="{$product.frontend_url}">
                    <span itemprop="name">{$product.name|truncate:60}</span>
                </a>
            </div>
            <div class="product-price">
                <span class="price nowrap" itemprop="price">{shop_currency($product.price)}</span>
            </div>
            <div class="stock_title">
                {$product.stock.name}
            </div>

            <div class="countdown_block">
                <div class="last_time">Осталось до конца акции</div>
                <script type="application/javascript">
                    new Countdown({
                    time: {$product.stock.time},
                    width:200, 
                    height:60,  
                    rangeHi:"day",
                    style:"flip"
                    });
                </script>
            </div>

        </li>
        {/foreach}
    </ul>
</div>
<div class="stockproducts_link">
    <a  href="{$wa->getUrl('shop/frontend/stock')}">Все товары</a>
</div>
{/if}