<script type="text/javascript" src="{$wa_url}wa-content/js/jquery-plugins/fileupload/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="{$wa_url}wa-content/js/jquery-plugins/fileupload/jquery.fileupload.js"></script>

<style>
    #stock-edit-form .fields{
        float: none;
    }
    .feature-block{
        margin-bottom: 10px;
    }
    .feature-block .values{
        margin-top: 5px;
    }
    .img-review img{
        max-width: 200px;
        max-height: 200px;
    }
    div.geshifilter {
        background-color: #f8f8f8;
        border: 1px solid #ccc;
        color: #222;
        display: block;
        line-height: 1.3;
        margin: 0.5em;
        overflow: auto;
        padding: 0.5em;
    }
</style>

<div class="block double-padded">
    <h1>
        <a href="#/stockList/" class="back">&LeftArrow; Назад</a>
        {if !empty($stock)}
            {$stock.name|default:'Без названия'|escape}
        {else}
            Новая акция
        {/if}
        <a href="#" class="stock-delete" data-id="{$stock.id|default:0}"><i class="icon16 delete"></i></a>
    </h1>

    <form id="stock-edit-form" enctype="multipart/form-data" method="post" action="?plugin=stock&action=save">
        {$wa->csrf()}
        <input type="hidden" name="stock[id]" value="{$stock.id|default:0}">
        {if !empty($stock.id)}
            <p class="hint"><strong>{ldelim}shopStockPlugin::getStockById({$stock.id}){rdelim}</strong> - хелпер для получения информации об акции</p>
            <p class="hint"><strong>{ldelim}$products = $wa->shop->product("stock/{$stock.id}"){rdelim}</strong> - код получения списка товаров акции</p>
            <p class="hint"><strong>{ldelim}shopStockPlugin::display({$stock.id}){rdelim}</strong> - хелпер вывода акции в произвольном месте</p>
            <p class="hint"><strong>{ldelim}shopStockPlugin::getStockImageUrl({$stock.id}){rdelim}</strong> - хелпер для получения ULR`а изображения</p>

            <p class="hint">Пример вывода срока действия акции:</p>
            <div class="geshifilter">
                <pre>{ldelim}shopStockPlugin::getStockImageUrl({$stock.id}){rdelim}
{ldelim}if $stock.restart{rdelim}
    Акция проходит с {ldelim}$stock.period_begin|wa_datetime:"humandatetime"{rdelim} по {ldelim}$stock.period_end|wa_datetime:"humandatetime"{rdelim}
{ldelim}else{rdelim}
    Акция проходит с {ldelim}$stock.datetime_begin|wa_date{rdelim} по {ldelim}$stock.datetime_end|wa_date{rdelim}
{ldelim}/if{rdelim}
                </pre>
            </div>
                
            <p class="hint">Пример вывода бонусов акции:</p>
            <div class="geshifilter">
                <pre>{ldelim}shopStockPlugin::getStockImageUrl({$stock.id}){rdelim}
{ldelim}if $stock.type == 'bonus'{rdelim}
    {ldelim}shop_currency($stock.absolute_bonus){rdelim} - абсолютное значение начисляемых бонусов, за совершение заказа с акционным товаром
    {ldelim}shop_currency($stock.product_percent_bonus){rdelim} - процент бонусов от стоимости акционного товара в заказе
{ldelim}/if{rdelim}
                </pre>
            </div>
        {/if}

        <div  class="fields form">   
            <div class="field-group">
                <div class="field">
                    <div class="name">Статус</div>
                    <div class="value no-shift s-ibutton-checkbox">
                        <input type="hidden" name="stock[enabled]" value="0">
                        <input type="checkbox" id="ibutton-status" name="stock[enabled]" value="1"{if $stock.enabled|default:1} checked="checked"{/if}>

                    </div>
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <div class="name">Название акции</div>
                    <div class="value">
                        <input class="long" type="text" name="stock[name]" value="{$stock.name|default:''|escape}">
                    </div>
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <div class="name">
                        Файл
                    </div>
                    <div class="value no-shift">
                        <div class="img-review">
                            {if !empty($stock) && shopStockPlugin::getStockImageUrl($stock)}
                                <img src="{shopStockPlugin::getStockImageUrl($stock)}" />
                            {/if}
                        </div>
                        <a class="delete-img" href="#"{if empty($stock) || !shopStockPlugin::getStockImageUrl($stock)} style="display:none;"{/if}><i class="icon16 delete"></i></a>
                        <input type="hidden" name="stock[img]" value="{$stock.img|default:''|escape}">
                        <input type="file" class="fileupload" data-action="?plugin=stock&action=upload">
                        <div class="js-fileupload-progress" style="display:none;">
                            <i class="icon16 loading"></i><span><!-- upload progress handler --></span>
                        </div>
                        <span class="errormsg" style="display:none;"><br><br><i class="icon10 no"></i> <span></span></span>
                    </div>
                </div>
            </div>

            <div class="field-group">
                <div class="field description">
                    <div class="name">Описание</div>
                    <div class="value">
                        <i class="icon16 loading"></i>
                        <div class="s-editor-core-wrapper wa-editor-core-wrapper" style="display:none;">
                            <ul class="wa-editor-wysiwyg-html-toggle s-wysiwyg-html-toggle">
                                <li class="selected"><a class="wysiwyg" href="#">[s`WYSIWYG`]</a></li>
                                <li><a class="html" href="#">HTML</a></li>
                            </ul>
                            <div>
                                <textarea style="display:none" id="stock-description-content" name="stock[description]">{$stock.description|default:''|escape}</textarea>
                                <div class="ace">
                                    <div id="wa-ace-editor-container"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <div class="name">Наклейка</div>
                    <div class="value">
                        <ul class="menu-v with-icons">
                            <li>
                                <label>
                                    <i class="icon16 ss new"></i>
                                    <input type="radio" name="stock[badge]" value="new"{if $stock.badge|default:"" == "new"} checked="checked"{/if}>
                                    New!
                                </label>
                            </li>
                            <li>
                                <label>
                                    <i class="icon16 ss bestseller"></i>
                                    <input type="radio" name="stock[badge]" value="bestseller"{if $stock.badge|default:"" == "bestseller"} checked="checked"{/if}>
                                    Хит!
                                </label>
                            </li>
                            <li>
                                <label>
                                    <i class="icon16 ss lowprice"></i>
                                    <input type="radio" name="stock[badge]" value="lowprice"{if $stock.badge|default:"" == "lowprice"} checked="checked"{/if}>
                                    Скидка!
                                </label>
                            </li>
                            <li>
                                <label>
                                    <i class="icon16 ss div"></i>
                                    <input type="radio" name="stock[badge]" value="code"{if $stock.badge|default:"" == "code"} checked="checked"{/if}>
                                    Другой
                                </label>
                                <div class="badge_code"{if $stock.badge|default:"" != "code"} style="display: none;"{/if}>
                                    <textarea style="min-height: 100px; margin: 10px 0 5px;" name="stock[badge_code]">{$stock.badge_code|default:'&lt;div class="badge" style="background-color: #a1fcff;"&gt;&lt;span&gt;ВАШ ТЕКСТ&lt;/span&gt;&lt;/div&gt;'|escape}</textarea>
                                </div>
                            </li>
                            <li>
                                <label>
                                    <i class="icon16 no-bw"></i>
                                    <input type="radio" name="stock[badge]" value=""{if $stock.badge|default:"" == ""} checked="checked"{/if}>
                                    Не устанавливать наклейку
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="field">
                    <div class="name">Множество наклеек</div>
                    <div class="value">
                        <input type="hidden" name="stock[multiple_badges]" value="0">
                        <input type="checkbox" name="stock[multiple_badges]" value="1"{if $stock.multiple_badges|default:'0'} checked="checked"{/if}>
                        <p class="hint">Если у товара уже есть наклейка, то наклейка акции не замещает уже установленную наклейку, а добавляется дополнительно к ней<br/>(Тема дизайна должна поддерживать использование нескольких наклеек)</p>
                    </div>
                </div>
            </div>


            <div class="field-group">
                <div class="field">
                    <div class="name">Показывать на главной</div>
                    <div class="value">
                        <input type="hidden" name="stock[homepage]" value="0">
                        <input type="checkbox" name="stock[homepage]" value="1"{if $stock.homepage|default:'0'} checked="checked"{/if}>
                        <p class="hint">Для отображения акции используется хук <strong>frontend_homepage</strong></p>
                    </div>
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <div class="name">Время начала акции</div>
                    <div class="value">
                        <input class="long datetimepicker" type="text" name="stock[datetime_begin]" value="{$stock.datetime_begin|default:time()|date_format:"d.m.Y H:i"|escape}">
                    </div>
                </div>
                <div class="field">
                    <div class="name">Время завершения акции</div>
                    <div class="value">
                        <input class="long datetimepicker" type="text" name="stock[datetime_end]" value="{$stock.datetime_end|default:(time()+86400)|date_format:"d.m.Y H:i"|escape}">
                    </div>
                </div>
                <div class="field">
                    <div class="name">Перезапуск акции</div>
                    <div class="value">
                        <input type="hidden" name="stock[period_begin]" value="0000-00-00 00:00:00" />
                        <input type="hidden" name="stock[period_end]" value="0000-00-00 00:00:00" />
                        <input type="hidden" name="stock[period_runing]" value="0" />
                        
                        
                        <input type="hidden" name="stock[restart]" value="0" />
                        <input type="checkbox" name="stock[restart]" value="1"{if $stock.restart|default:0} checked="checked"{/if} />
                    </div>
                </div>

            </div>
            <div class="field-group restart-field-group"{if !$stock.restart|default:0} style="display: none;"{/if}>
                <div class="field">
                    <div class="name">Начало акции</div>
                    <div class="value">
                        <input class="long timepicker" type="text" name="stock[begin_time]" value="{$stock.begin_time|default:0|escape}">
                    </div>
                </div>
                <div class="field">
                    <div class="name">Продолжительность акции (часов)</div>
                    <div class="value">
                        <input class="long" type="text" name="stock[duration_time]" value="{$stock.duration_time|default:24|escape}">
                    </div>
                </div>
                <div class="field">
                    <div class="name">Время перезапуска</div>
                    <div class="value">
                        <input type="checkbox" name="stock[restart_period][]" value="Anyday"{if in_array('Anyday', $stock.restart_period|default:[])} checked="checked"{/if} /> - каждый день<br/>
                        <input type="checkbox" name="stock[restart_period][]" value="Mon"{if in_array('Mon', $stock.restart_period|default:[])} checked="checked"{/if} /> - каждый понедельник<br/>
                        <input type="checkbox" name="stock[restart_period][]" value="Tue"{if in_array('Tue', $stock.restart_period|default:[])} checked="checked"{/if} /> - каждый вторник<br/>
                        <input type="checkbox" name="stock[restart_period][]" value="Wed"{if in_array('Wed', $stock.restart_period|default:[])} checked="checked"{/if} /> - каждую среду<br/>
                        <input type="checkbox" name="stock[restart_period][]" value="Thu"{if in_array('Thu', $stock.restart_period|default:[])} checked="checked"{/if} /> - каждый четверг<br/>
                        <input type="checkbox" name="stock[restart_period][]" value="Fri"{if in_array('Fri', $stock.restart_period|default:[])} checked="checked"{/if} /> - каждую пятницу<br/>
                        <input type="checkbox" name="stock[restart_period][]" value="Sat"{if in_array('Sat', $stock.restart_period|default:[])} checked="checked"{/if} /> - каждую субботу<br/>
                        <input type="checkbox" name="stock[restart_period][]" value="Sun"{if in_array('Sun', $stock.restart_period|default:[])} checked="checked"{/if} /> - каждое воскресенье<br/>
                    </div>
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <div class="name">Тип акции</div>
                    <div class="value">
                        <input type="radio" name="stock[type]" value="discount"{if $stock.type|default:"discount" == "discount"} checked="checked"{/if}/> - Скидка<br/>
                        <input type="radio" name="stock[type]" value="gift"{if $stock.type|default:"discount" == "gift"} checked="checked"{/if}/> - Подарок<br/>
                        <input type="radio" name="stock[type]" value="bonus"{if $stock.type|default:"discount" == "bonus"} checked="checked"{/if}/> - Бонусные баллы<br/>
                    </div>
                </div>
            </div>
            <div class="field">
                <div class="name">Акция по промо-коду</div>
                <div class="value">
                    <input type="hidden" name="stock[promocode_only]" value="0" />
                    <input type="checkbox" name="stock[promocode_only]" value="1"{if $stock.promocode_only|default:0} checked="checked"{/if}/>
                    <p class="hint">Скидка действует только при вводе промо-кода в корзине</p>
                </div>
            </div>
            <div class="field promocode-field"{if !$stock.promocode_only|default:0} style="display:none;"{/if}>
                <div class="name">Промо-код</div>
                <div class="value">
                    <input type="text" name="stock[promocode]" value="{$stock.promocode|default:$default_promocode|escape}"/>
                    <p class="hint">Промо-код для ввода в корзине</p>
                </div>
            </div>

            <div class="field-group stock-type-field stock-type-discount">
                <div class="field">
                    <div class="name">Тип скидки</div>
                    <div class="value">
                        <input type="radio" name="stock[discount_type]" value="percent"{if $stock.discount_type|default:"percent" == "percent"} checked="checked"{/if}/> - Скидка процентная<br/>
                        <input type="radio" name="stock[discount_type]" value="absolute"{if $stock.discount_type|default:"percent" == "absolute"} checked="checked"{/if}/> - Скидка в валюте<br/>
                        <input type="radio" name="stock[discount_type]" value="price"{if $stock.discount_type|default:"percent" == "price"} checked="checked"{/if}/> - Новая цена<br/>
                    </div>
                </div>
                <div class="field">
                    <div class="name">Алгоритм действия скидки</div>
                    <div class="value">
                        <input type="radio" name="stock[discount_algorithm]" value="replace"{if $stock.discount_algorithm|default:"replace" == "replace"} checked="checked"{/if}/> - Замена цены<br/>
                        <p class="hint">
                            Плагин рассчитывает значение действующий цены с учетом заданной скидки и устанавливает ее в качестве основной цены, а в качестве зачеркнутой цены (если та не была задана) устанавливается старая основная цена.
                        </p>
                        <input type="radio" name="stock[discount_algorithm]" value="standart"{if $stock.discount_algorithm|default:"replace" == "standart"} checked="checked"{/if}/> - Скидка в корзине<br/>
                        <p class="hint">
                            Цена товара не меняется, плагин рассчитывает значение скидки для всего заказа. Скидка видна покупателю, например, в корзине магазина.
                        </p>
                    </div>
                </div>

                <div class="field discount-type-field discount-type-percent">
                    <div class="name">Скидка процентная</div>
                    <div class="value">
                        <input class="short bold numerical" type="text" name="stock[discount_value]" placeholder="0" value="{if $stock.discount_type|default:"percent" == "percent"}{(float)$stock.discount_value|default:0|escape}{else}0{/if}"><span>%</span>
                    </div>
                </div>
                <div class="field discount-type-field discount-type-percent">
                    <div class="name">Округлять цены</div>
                    <div class="value">
                        <input type="hidden" name="stock[rounding]" value="0">
                        <input type="checkbox" name="stock[rounding]" value="1"{if $stock.rounding|default:'1'} checked="checked"{/if}>
                        <p class="hint">Если указана процентаная скидка, то новая цена будет округляться до целого</p>
                    </div>
                </div>
                <div class="field discount-type-field discount-type-absolute">
                    <div class="name">Скидка в валюте</div>
                    <div class="value">
                        <input class="short bold numerical" type="text" name="stock[discount_value]" placeholder="0" value="{if $stock.discount_type|default:"percent" == "absolute"}{(float)$stock.discount_value|default:0|escape}{else}0{/if}"><span>{$def_currency}</span>
                    </div>
                </div>

                <div class="field discount-type-field discount-type-price">
                    <div class="name">Новая цена</div>
                    <div class="value">
                        <input class="short bold numerical" type="text" name="stock[discount_value]" placeholder="0" value="{if $stock.discount_type|default:"percent" == "price"}{(float)$stock.discount_value|default:0|escape}{else}0{/if}"><span>{$def_currency}</span>
                    </div>
                </div>
            </div>
            <div class="field-group stock-type-field stock-type-gift">
                <div  class="field">
                    <div class="name">Подарочный товар</div>
                    <div class="value">
                        <input type="hidden" name="stock[gift_sku_id]" value="{$stock.gift_sku_id|default:'0'|escape}">
                        <input id="gift-search" class="long" placeholder="Артикул или название" type="text" >
                        {if !empty($gift_product)}
                            <a href="?action=products#/product/{$gift_product.id}/" target="_blank">
                                <strong>
                                    {$gift_product.name|escape}
                                </strong>
                                {if $gift_product.sku.sku && $gift_product.sku.name}
                                    <i style="color: gray;">(<strong>{$gift_product.sku.sku|escape}</strong>: {$gift_product.sku.name|escape})</i>
                                {elseif $gift_product.sku.sku}
                                    <i style="color: gray;">({$gift_product.sku.sku|escape})</i>
                                {elseif $gift_product.sku.name}
                                    <i style="color: gray;">({$gift_product.sku.name|escape})</i>
                                {/if}
                            </a>
                        {/if}
                    </div>
                </div>
            </div>
            <div class="field-group stock-type-field stock-type-bonus">
                <div  class="field">
                    <div class="name">Количество баллов</div>
                    <div class="value">
                        <input class="short" type="text" name="stock[absolute_bonus]" value="{$stock.absolute_bonus|default:0|escape}" />
                    </div>
                </div>
                <div  class="field">
                    <div class="name">Баллы от стоимости товара</div>
                    <div class="value">
                        <input class="short" type="text" name="stock[product_percent_bonus]" value="{$stock.product_percent_bonus|default:0|escape}" /> %
                    </div>
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <div class="name">
                        Выбрать товары 
                    </div>

                    <div class="value">
                        <table class="zebra" id="stock-products-table" style="width: 580px; margin-bottom: 20px;">
                            <thead>
                                <tr>
                                    <th>Товары участвующие в акции</th>
                                </tr>
                            </thead>
                            <tbody>
                                {if !empty($stock_products)}
                                    {foreach $stock_products as $stock_product}
                                        <tr>
                                            <td data-id="{$stock_product.id|escape}" data-type="{$stock_product.type|escape}" data-value="{$stock_product.value|escape}">
                                                <input type="hidden" name="stock_products[id][]" value="{$stock_product.id|escape}" />
                                                <input type="hidden" name="stock_products[type][]" value="{$stock_product.type|escape}" />
                                                <input type="hidden" name="stock_products[value][]" value="{$stock_product.value|escape}" />

                                                {if $stock_product.type == 'product'}
                                                    {$url = "?action=products#/product/`$stock_product.value`/"}
                                                    {$icon = 'folders'}
                                                    {$type = 'Товар'}
                                                {elseif $stock_product.type == 'set'}
                                                    {$url = "?action=products#/products/set_id=`$stock_product.value`"}
                                                    {$icon = 'ss set'}
                                                    {$type = 'Список'}
                                                {elseif $stock_product.type == 'type'}
                                                    {$url = "?action=products#/products/type_id=`$stock_product.value`"}
                                                    {$icon = 'ss pt box'}
                                                    {$type = 'Тип товаров'}
                                                {elseif $stock_product.type == 'category'}
                                                    {$url = "?action=products#/products/category_id=`$stock_product.value`"}
                                                    {$icon = 'folder'}
                                                    {$type = 'Категория'}
                                                {elseif $stock_product.type == 'feature'}
                                                    {$url = "?action=settings#/features/"}
                                                    {$icon = 'ss features-bw'}
                                                    {$type = 'Характеристика'}
                                                    {$val = explode(':', $stock_product.value)}
                                                    {$stock_product.name = "`$features_filter[$val.0].name|default:'Не определено'`: `$features_filter[$val.0].values[$val.1]|default:'Не определено'`"}
                                                {/if}

                                                <a class="float-left" href="{$url}" target="_blank">
                                                    <i class="icon16 {$icon}"></i>
                                                    {$type}
                                                    <strong>{$stock_product.name|escape}</strong>

                                                </a>
                                                <a class="delete-stock-products-button float-right" href="#"><i class="icon16 delete"></i></a>
                                            </td>
                                        </tr>
                                    {/foreach}
                                {/if}
                            </tbody>
                        </table>

                        <div class="sidebar left200px">
                            <ul class="menu-v">
                                <li>
                                    <label class="black"><i class="icon16 ss set"></i><input type="radio" value="set" name="hash"> Списки</label>
                                </li>
                                <li>
                                    <label class="black"><i class="icon16 folder"></i><input type="radio" value="categories" name="hash"> Категории</label>
                                </li>
                                <li>
                                    <label class="black"><i class="icon16 ss pt box"></i><input type="radio" value="type" name="hash"> Типы товаров</label>
                                </li>
                                <li>
                                    <label class="black"><i class="icon16 folders"></i><input type="radio" value="product" name="hash"> Товары</label>
                                </li>
                                <li>
                                    <label class="black"><i class="icon16 ss features-bw"></i><input type="radio" value="features" name="hash"> Характеристики</label>
                                </li>
                            </ul>
                        </div>
                        <div class="value js-hash-values js-hash-set" style="width: 400px;">
                            <div class="bordered-left" style="padding-left: 20px;">
                                <ul class="menu-v with-icons">
                                    {foreach $sets as $set}
                                        <li>
                                            <label title="{$set.id}">
                                                <i class="icon16 {if $set.type == shopSetModel::TYPE_DYNAMIC}funnel{else}ss set{/if}"></i>
                                                {$set.name|escape}
                                                <a class="add-stock-products-button float-right" href="#" data-type="set" data-id="{$set.id}" data-name="{$set.name|escape}"><i class="icon16 add"></i></a>
                                            </label>
                                        </li>
                                    {/foreach}
                                </ul>
                            </div>
                        </div>

                        <div class="value js-hash-values js-hash-categories" style="width: 400px;">
                            <div class="bordered-left" style="padding-left: 20px;">
                                {include file="./include.categories.html" categories=$categories}
                                {*wa_print_tree tree=$categories elem='<label><i class="icon16 folder"></i> :name <a class="add-stock-products-button float-right" href="#" data-type="category" data-id=":id" data-name=""><i class="icon16 add"></i></a></label>' class="menu-v with-icons"*}
                            </div>
                        </div>
                        <div class="value js-hash-values js-hash-type" style="width: 400px;">
                            <div class="bordered-left" style="padding-left: 20px;">
                                <ul class="menu-v with-icons">
                                    {foreach $types as $type}
                                        {if $type.count}
                                            <li>
                                                <label>
                                                    {shopHelper::getIcon($type.icon)}
                                                    {$type.name|escape}
                                                    <a class="add-stock-products-button float-right" href="#" data-type="type" data-id="{$type.id|escape}" data-name="{$type.name|escape}"><i class="icon16 add"></i></a>
                                                </label>
                                            </li>
                                        {/if}
                                    {/foreach}
                                </ul>
                                {if !empty($hints.type)}<br/><span class="small">{$hints.type}</span>{/if}
                            </div>
                        </div>
                        <div class="value js-hash-values js-hash-product" >
                            <div class="bordered-left" style="padding-left: 20px;">
                                <p>Введите название товара:</p>
                                <input class="long" id="products-search" type="text" />
                                <a class="add-stock-products-button" href="#" data-type="product" data-id="" data-name=""><i class="icon16 add"></i></a>
                            </div>
                        </div>
                        <div class="value js-hash-values js-hash-features" style="width: 400px;">
                            <div class="bordered-left" style="padding-left: 20px;">
                                {foreach $features_filter as $fid => $filter}
                                    <div class="feature-block">
                                        <b>
                                            {$filter.name|escape}
                                            <i class="icon16 rarr"></i>
                                        </b>
                                        <div class="values" style="display:none;">
                                            {if $filter.type == 'boolean'}
                                            {elseif isset($filter.min)}
                                            {else}
                                                <ul class="menu-v with-icons">
                                                    {foreach $filter.values as $v_id => $v}
                                                        <li>
                                                            <label>
                                                                {$v}
                                                                <a class="add-stock-products-button float-right" href="#" data-type="feature" data-id="{$fid}:{$v_id}" data-name="{$filter.name|escape}: {$v|escape}"><i class="icon16 add"></i></a>
                                                            </label>
                                                        </li>
                                                    {/foreach}
                                                </ul>
                                            {/if}
                                        </div>
                                    </div>
                                {/foreach}
                            </div>
                        </div>

                    </div>
                    <div class="clear-left"></div>
                </div>
            </div>

            <div class="stock-page-settings">
                <div class="field-group">
                    <h2>Настройки страницы акции</h2>
                    <div class="field">
                        <div class="name">
                            Название страницы
                        </div>
                        <div class="value">
                            <input class="long" type="text" name="stock[page_name]" value="{$stock.page_name|default:''|escape}" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="name">
                            URL страницы
                        </div>
                        <div class="value">
                            <input class="long" type="text" name="stock[page_url]" value="{$stock.page_url|default:''|escape}" />
                            {if !empty($stock.id)}
                                <a class="stock-frontend-url" target="_blank" href="{$frontend_url}{$page_url}{$stock.page_url|default:''|escape}">
                                    {$frontend_url}{$page_url}{$stock.page_url|default:''|escape}
                                    <i class="icon10 new-window"></i>
                                </a>
                            {/if}
                        </div>
                    </div>
                    <div class="field">
                        <div class="name">
                            Заголовок страницы &lt;title&gt;
                        </div>
                        <div class="value">
                            <input class="long" type="text" name="stock[page_title]" value="{$stock.page_title|default:''|escape}" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="name">
                            Meta keywords
                        </div>
                        <div class="value">
                            <input class="long" type="text" name="stock[meta_keywords]" value="{$stock.meta_keywords|default:''|escape}" />
                        </div>
                    </div>
                    <div class="field">
                        <div class="name">
                            Meta description
                        </div>
                        <div class="value">
                            <textarea name="stock[meta_description]">{$stock.meta_description|default:''|escape}</textarea>
                        </div>
                    </div>

                    <div class="field description">
                        <div class="name">Текст</div>
                        <div class="value">
                            <i class="icon16 loading"></i>
                            <div class="s-editor-core-wrapper wa-editor-core-wrapper" style="display:none;">
                                <ul class="wa-editor-wysiwyg-html-toggle s-wysiwyg-html-toggle">
                                    <li class="selected"><a class="wysiwyg" href="#">[s`WYSIWYG`]</a></li>
                                    <li><a class="html" href="#">HTML</a></li>
                                </ul>
                                <div>
                                    <textarea style="display:none" id="stock-page-content" name="stock[page_content]">{$stock.page_content|default:''|escape}</textarea>
                                    <div class="ace">
                                        <div id="wa-ace-editor-container"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <div class="value">
                        <input id="s-stock-save-button" type="submit" class="button green" value="Сохранить" /> или
                        <a href="#/stockList/">Отменить</a>
                        <span id="stock-form-status" style="padding-left: 20px">
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

{literal}
    <script id="stock-product-tmpl" type="text/x-jquery-tmpl">
        <tr data-id="" data-type="${type}" data-value="${value}">
        <td>
        <input type="hidden" name="stock_products[id][]" value="" />
        <input type="hidden" name="stock_products[type][]" value="${type}" />
        <input type="hidden" name="stock_products[value][]" value="${value}" />

        <a class="float-left" href="${url}" target="_blank">
        <i class="icon16 ${icon}"></i>
        ${type_name} <strong>${name}</strong>
        </a>
        <a class="delete-stock-products-button float-right" href="#"><i class="icon16 delete"></i></a>
        </td>
        </tr>
    </script>
{/literal}
<script type="text/javascript">
    var wa_app = '{$wa_url}';
    var wa_url = '{$wa_url}';
    var wa_lang = '{$lang}';
    var frontend_url = '{$frontend_url}';
    var page_url = '{$page_url}';
</script>
<script type="text/javascript" src="{$wa_app_static_url}plugins/stock/js/backend_stock.js?v={$wa->version()}"></script>
