<script type="text/javascript" src="{$wa_app_static_url}plugins/stock/js/stock.js"></script>

<link rel="stylesheet" href="{$wa_url}wa-content/css/jquery-ui/base/jquery.ui.datepicker.css">
<link rel="stylesheet" href="{$wa_url}wa-content/css/jquery-ui/base/jquery.ui.theme.css">
<script type="text/javascript" src="{$wa_url}wa-content/js/jquery-ui/jquery.ui.datepicker.min.js"></script>
<script type="text/javascript" src="{$wa_url}wa-content/js/jquery-ui/i18n/jquery.ui.datepicker-ru_RU.js"></script>


<script>
    $(function() {
        $(".date").datepicker({
            dateFormat: 'yy-mm-dd',
        });
    });
</script>

<input type="hidden" name="shop_stock[id]" value="{$stock.id}" />

<input type="hidden" name="shop_stock[product_id]" value="{$product.id}" />

<div class="field">
    <div class="name">Название акции</div>
    <div class="value"><input type="text" name="shop_stock[name]" value="{$stock.name|escape}" class="long bold"></div>
</div>



<div class="field">
    <div class="name">Описание</div>
    <div class="value">
        <textarea name="shop_stock[description]">{$stock.description|escape}</textarea>
    </div>
</div>

<div class="field">
    <div class="name">Дата начала акции</div>
    <div class="value">
        <input class="date" type="text" name="shop_stock[date_begin]" value="{$stock.date_begin|escape}">
    </div>
</div>

<div class="field">
    <div class="name">Дата завершения акции</div>
    <div class="value">
        <input class="date" type="text" name="shop_stock[date_end]" value="{$stock.date_end|escape}">

    </div>
</div>

<div class="field">
    <div class="name">Количество товаров</div>
    <div class="value">
        <input class="short numerical" type="text" name="shop_stock[count]" placeholder="0" value="{$stock.count|escape}">
        <div class="hint">Количество аукционного товара, которое должен положить в корзину покупатель для активации акции</div>
    </div>
</div>



<div class="field">
    <div class="name">Тип акции</div>
    <div class="value">
        <select name="shop_stock[type]">
            <option {if $stock.type=='discount'}selected="selected"{/if} value="discount">Скидка</option>
            <option {if $stock.type=='gift'}selected="selected"{/if} value="gift">Подарок</option>
        </select>
    </div>
</div>

<div class="field-group stock_type" id="type_discount">
    <div class="field">
        <div class="name">Тип скидки</div>
        <div class="value">
            <input type="radio" {if $stock.discount_type=='percent_discount'  || !$stock.discount_type}checked="checked"{/if} name="shop_stock[discount_type]" value="percent_discount" /> - процентная скидка
                   <input type="radio" {if $stock.discount_type=='new_price'}checked="checked"{/if} name="shop_stock[discount_type]" value="new_price" /> - новая цена
        </div>
    </div>

    <div id="option_percent_discount" class="field discount_type_option">
        <div class="name">Процентная скидка</div>
        <div class="value">
            <input class="short bold numerical" type="text" name="shop_stock[percent_discount]" placeholder="0" value="{$stock.percent_discount|escape}"><span>%</span>
        </div>
    </div>

    <div id="option_new_price" class="field discount_type_option">
        <div class="name">Новая цена</div>
        <div class="value">
            <input class="short bold numerical" type="text" name="shop_stock[new_price]" placeholder="0" value="{(float)$stock.new_price|escape}"><span>{$def_currency}</span>
        </div>
    </div>
</div>

<div  class="field stock_type" id="type_gift">
    <div class="name">Артикул подарочного товара</div>
    <div class="value">
        <input class="short" placeholder="Артикул" type="text" name="shop_stock[sku_gift]" value="{$stock.sku_gift|escape}">
    </div>
</div>

<script type="text/javascript">
    $.product_stock.init({
        container: '.s-product-form.stock',
        counter: '#s-product-edit-menu li.services span.hint',
        product_id: {$product.id},
    });
</script>
