<div class="block double-padded">
    <h1>
        Акции
    </h1>
    <ul class="menu-h">
        <li><a href="#/stock/add/"><i class="icon16 add"></i>Новая акция</a></li>
        <li><a href="?action=plugins#/stock/"><i class="icon16 ss settings-bw"></i>Настройки плагина</a></li>
    </ul>

    <div  class="fields form">   
        <div class="field-group">
            <div class="field">
                <div class="name">Витрина</div>
                <div class="value">
                    <select name="route_hash">
                        <option value="0"{if '0' == $route_hash|default:'0'} selected="selected"{/if}>Все витрины</option>
                        {foreach $route_hashs as $route_url => $_route_hash}
                            <option value="{$_route_hash}"{if $_route_hash == $route_hash|default:'0'} selected="selected"{/if}>{$route_url}</option>
                        {/foreach}
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <div class="value">
                <a class="stock-update" href="#"><i class="icon16 sync"></i>Обновить списки товаров участвующих в акциях</a>
                <p class="hint">
                    Формирование списка товаров участвующих в акции происходит при сохранение акции.<br/>
                    Если в качестве товаров участвующих в акции вы выбрали, например, категорию товаров и после сохранения акции в данную категорию были добавлены новые товары,
                    то эти товары могут автоматически не появиться среди товаров акции.<br/>
                    Для актуализации списков товаров участвующих в акции необходимо выполнить обновление.
                </p>
                <p class="hint">Команда для запуска через CRON: <strong>{$cron_str}</strong> для обновления всех акций</p>
            </div>
        </div>
    </div>
    <table id="stock-table" class="zebra">
        <thead>
            <tr>
                <th>Статус</th>
                <th>Название</th>
                <th>Начало</th>
                <th>Окончание</th>
                <th>Акция</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {foreach $stocks as $stock}
                <tr>
                    <td>
                        {if $stock.enabled}
                            <i class="icon10 status-green"></i>
                        {else}
                            <i class="icon10 status-red"></i>
                        {/if}
                    </td>
                    <td>
                        <a href="#/stock/{$stock.id}/">
                            {$stock.name|default:'Без названия'|escape}
                        </a>
                    </td>
                    <td>
                        {$stock.datetime_begin|date_format:"d.m.Y H:i"|escape}
                    </td>
                    <td>
                        {$stock.datetime_end|date_format:"d.m.Y H:i"|escape}
                    </td>
                    <td>
                        {if $stock.type == 'discount'}
                            {if $stock.discount_type == 'percent'}
                                Скидка процентная: {(float)$stock.discount_value}%
                            {elseif $stock.discount_type == 'absolute'}
                                Скидка в валюте: {shop_currency($stock.discount_value)}
                            {elseif $stock.discount_type == 'price'}
                                Новая цена: {shop_currency($stock.discount_value)}
                            {/if}
                        {elseif $stock.type == 'gift'}
                            Подарок
                            {if !empty($stock.gift_sku_id) && !empty($stock.gift_product)}
                                {$gift_product = $stock.gift_product}
                                <a style="display: inline;" href="?action=products#/product/{$gift_product.id}/" target="_blank">
                                    <strong>
                                        {$gift_product.name|escape}
                                    </strong>
                                    {if $gift_product.sku.sku && $gift_product.sku.name}
                                        <i style="color: gray;">(<strong>{$gift_product.sku.sku|escape}</strong>: {$gift_product.sku.name|escape})</i>
                                    {elseif $gift_product.sku.sku}
                                        <i style="color: gray;">({$gift_product.sku.sku|escape})</i>
                                    {elseif $gift_product.sku.name}
                                        <i style="color: gray;">({$gift_product.sku.name|escape})</i>
                                    {/if}
                                </a>
                            {else}
                                не определен
                            {/if}
                        {/if}
                    </td>
                    <td>
                        <a href="#" class="stock-delete" data-id="{$stock.id|default:0}"><i class="icon16 delete"></i></a>
                    </td>
                </tr>
            {foreachelse}
                <tr>
                    <td colspan="6">Нет ни одной акции</td>
                </tr>
            {/foreach}
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(function () {
        $(document).on('click', '.stock-delete', function () {
            var self = $(this);
            $.ajax({
                type: 'POST',
                url: '?plugin=stock&action=delete',
                data: {
                    id: $(this).data('id')
                },
                dataType: 'json',
                success: function (data, textStatus, jqXHR) {
                    self.closest('tr').remove();
                },
                error: function (jqXHR, errorText) {
                    alert(jqXHR.responseText);
                }
            });
            return false;
        });
        $('select[name=route_hash]').change(function () {
            var loading = $('<i class="icon16 loading"></i>');
            $('#stock-table').hide();
            $(this).after(loading);
            $.ajax({
                type: 'POST',
                url: '?plugin=stock',
                data: {
                    route_hash: $(this).val()
                },
                dataType: 'html',
                success: function (data, textStatus, jqXHR) {
                    loading.remove();
                    $('#stock-table').html($(data).find('#stock-table')).show();
                },
                error: function (jqXHR, errorText) {
                    alert(jqXHR.responseText);
                }
            });
        });
    });
</script>