{function name=categoriesTree class="" items=[]}
    <ul{if !empty($class)} class="{$class}"{/if}>
        {foreach $items as $category}
            <li>
                <label>
                    <i class="icon16 folder"></i> {$category.name|escape}
                    <a class="add-stock-products-button float-right" href="#" data-type="category" data-id="{$category.id}" data-name="{$category.name|escape}"><i class="icon16 add"></i></a>
                </label>
                {if !empty($category.childs)}
                    {categoriesTree class="menu-v" items=$category.childs}
                {/if}
            </li>
        {/foreach}
    </ul>
{/function}

{categoriesTree class="menu-v with-icons" items=$categories}